body {
  margin: 0;
}

.attribution {
  align-self: end;
  color: hsla(240, 100%, 24%, 0.5);
  font-family: 'Pacifico', cursive;
  font-size: calc(0.5rem + 0.9vw);
  grid-area: 2 / 1 / 2 / 5;
  justify-self: end;
  margin-right: 3%;
  z-index: 1;
}

.attribution a {
  color: hsl(240, 100%, 24%, 0.86);
  text-decoration: none;
}

.attribution a:hover {
  color: #FFF;
}

.boldName {
  align-self: end;
  grid-area: middle-n;
  grid-row: span 1/2;
  font-size: calc(0.5rem + 0.9vw);
  font-weight: 700;
  margin: 0;
  color: hsl(229, 23%, 23%);
  text-align: center;
}

.bottom-box {
  text-align: center;
  grid-area: bottom;
  line-height: 1.6;
  background-color: #FFF;
  border-top: 1px solid hsl(0, 0%, 59%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-template-areas: "Follow Like Photo";
}

.container-box {
  display: grid;
  /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
  grid-template-rows: 3.2fr 0.1fr 2fr;
  grid-template-areas:
    "top top top top"
    "middle middle middle middle"
    "bottom bottom bottom bottom";
  height: 100%;
}

.Followers {
  align-self: center;
  color: hsl(0, 0%, 59%);
  grid-area: Follow;
  justify-self: center;
  font-size: calc(0.3rem + 0.9vw);
}

.grey-color {
  color: hsl(0, 0%, 59%);
  font-weight: 400;
  margin-left: 0.4rem;
}

.likes {
  align-self: center;
  color: hsl(0, 0%, 59%);
  grid-area: Like;
  justify-self: center;
  font-size: calc(0.3rem + 0.9vw);
}

.location {
  color: hsl(0, 0%, 59%);
  grid-area: middle-l;
  margin-top: 2px;
}

.middle-box {
  align-content: center;
  background-color: #FFF;
  display: grid;
  font-size: calc(0.9rem + 0.2vw);
  grid-area: middle;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.1fr 0.1fr 0.1fr;
  grid-template-areas:
    "middle-p middle-p middle-p"
    "middle-n middle-n middle-n"
    "middle-l middle-l middle-l";
  height: 13.2vw;
  justify-items: center;
  line-height: 1.6;
}

.pattern-top {
  display: grid;
  grid-column: 5/-3;
  grid-row: 1/1;
  position: relative;
  transform: translate(-104%, -45%);
  max-height: calc(992.44/ 927.34 * 200%);
}

.pattern-top img {
  border-radius: 100%;
  width: 100%;
}

.pattern-bottom {
  display: grid;
  grid-column: 3 / 5;
  grid-row: credit / profile 3;
  margin: 6% 0 auto 4%;
  max-height: 129vh;
  max-width: 130vw;
  position: relative;
  transform: translate(-3%, -1%);
}

.photos {
  align-self: center;
  color: hsl(0, 0%, 59%);
  grid-area: Photo;
  justify-self: center;
  font-size: calc(0.3rem + 0.9vw);
}

.profileBody {
  background-color: hsl(185, 75%, 39%);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 50vh;
  grid-template-areas:
    "round-bg profile profile ."
    ". profile profile credit";
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  font-family: 'Kumbh Sans', sans-serif;
}

.profile-container {
  align-self: center;
  border-radius: 3%;
  grid-area: profile;
  /*height: 35vw; not very reponsive when zooming in on computer*/
  height: calc(1.1rem + 28vw);
  justify-self: center;
  overflow: hidden;
  width: calc(7em + 36%);
  position: relative;
  z-index: 1;
}

.pro-vic {
  border-radius: 50%;
  border: solid 5px #FFF;
  grid-area: middle-p;
  height: 8.4vw;
  transform: translate(0px, -4.6vw);
  width: 8.3vw;
}

.top-box {
  background-image: url(../images/bg-pattern-card.svg);
  background-size: 100%;
  grid-area: top;
  /*height: 13.35vw;*/
  min-height: 100%;
}

@media only screen and (min-device-width: 930px) and  (min-device-height: 50px) and (max-device-height:490px) and (orientation : landscape) {
  .attribution{
    width: 28vw;
  }
}

@media only screen and (max-device-width: 425px) {
  body {
    overflow: hidden;
  }

  .attribution {

    margin-bottom: 10vh;
  }

  .boldName {
    font-size: calc(98% + 0.7vw);
    letter-spacing: 0.8px;
    text-shadow: 0 0 black;
  }

  .Followers, .likes, .photos {
    font-weight: lighter;
    font-size: calc(0.4rem + 1.2vw);
    letter-spacing: 0.6px;
  }

  .location {
    margin-top: -12px;
    font-size: calc(81% + 0.5vw);
  }

  .middle-box {
    height: 39.2vw;
    line-height: 2.5;
  }

  .pattern-top {
    grid-column: 3 / 5;
    grid-row: credit / profile 3;
    margin: 6% 0 auto 4%;
    max-height: 129vh;
    max-width: 130vw;
    position: relative;
    transform: translate(-116%, -92%);
    z-index: 0;
  }

  .profile-container {
    height: 100vw;
    margin: 0;
    padding: 0;
    width: calc(149% + 3rem);
  }

  .pro-vic {
    height: 24vw;
    transform: translate(0px, -14.6vw);
    width: 25vw;
  }

  .top-box {
    height: 37.35vw;
  }
}
